extends layout

block content
  title Members
  body(data-spy='scroll', data-target='nav')         
    section#promo-3.content-block.promo-3.min-height-600px.bg-deepocean.bg-image-cover(style="background-image:url('images/pokhara.jpg');")
      .container.text-center
        h1 Simple User Authentication App
        |                 
        h2 Avishkar Pratap KC
        |                 
        a.btn.btn-outline.btn-outline-xl.outline-light(href='#')
          | In&nbsp;
          span.fa.fa-heart.pomegranate
          | &nbsp;with NODEJS
      // /.container
    |         
    section#content-1-1.content-block.content-1-1.min-height-600px.bg-white(style="background-image:url('images/ghost.jpg');")
      .container.text-center
        h1 Freedom to express your creativity
        |                 
        .col-sm-8.col-sm-offset-2
          p.lead
            | We don&apos;t want to overload you with hundreds of styles you don&apos;t want, or need. We give you a strong base to express your own creativity.
    |         
    section#content-2-9.content-2-9
      .project-wrapper
        .col-md-3.col-sm-6.project
          .background-image-holder
            img.background-image(alt='Background Image', src='images/project-1.jpg')
          |                     
          .hover-state
            .align-vertical
              h3 Work Project 1
              |                             
              p Mustache retro chillwave YOLO four loko photo booth.
              |                             
              a.btn.btn-outline.outline-light(href='#') See Project
        |                 
        .col-md-3.col-sm-6.project
          .background-image-holder
            img.background-image(alt='Background Image', src='images/apkcko.png')
          |                     
          .hover-state(style="background-image:url('images/apkcko.png');")
            .align-vertical
              h3 Avishkar Pratap KC
              |                             
              p Trying to learn NodeJs
              |                             
              a.btn.btn-outline.outline-light(href='#') See Project
        |                 
        .col-md-3.col-sm-6.project
          .background-image-holder
            img.background-image(alt='Background Image', src='images/anon.jpg')
          |                     
          .hover-state(style="background-image:url('images/anon.jpg');")
            .align-vertical
              h3 Work Project 3
              |                             
              p Mustache retro chillwave YOLO four loko photo booth.
              |                             
              a.btn.btn-outline.outline-light(href='#') See Project
        |                 
        .col-md-3.col-sm-6.project
          .background-image-holder
            img.background-image(alt='Background Image', src='images/project-4.jpg')
          |                     
          .hover-state
            .align-vertical
              h3 Work Project 4
              |                             
              p Mustache retro chillwave YOLO four loko photo booth.
              |                             
              a.btn.btn-outline.outline-light(href='#') See Project
      // /.project-wrapper
      section.content-block-nopad.bg-deepocean.footer-wrap-1-3
        .container.footer-1-3
          .map.min-height-500px
      //-  
      // /.container
