extends layout

block content
  head
    meta(charset='utf-8')
    |         
    title Avishkar Pratap KC
    |         
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |         
    meta(name='keywords', content='pinegrow, blocks, bootstrap')
    |         
    meta(name='description', content='My new website')
    |         
    link(rel='shortcut icon', href='ico/favicon.png')
    // Core CSS
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    |         
    link(href='stylesheets/css/font-awesome.min.css', rel='stylesheet')
    |         
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700', rel='stylesheet')
    |         
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet')
    // Style Library
    link(href='stylesheets/css/style-library-1.css', rel='stylesheet')
    |         
    link(href='stylesheets/css/plugins.css', rel='stylesheet')
    |         
    link(href='stylesheets/css/blocks.css', rel='stylesheet')
    |         
    link(href='stylesheets/css/custom.css', rel='stylesheet')
    // HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.
    //if lt IE 9
      script(src='javascripts/js/html5shiv.js')
      |       
      script(src='javascripts/js/respond.min.js')
  |     
  body(data-spy='scroll', data-target='nav')
    header#header-1.soft-scroll.header-1
      // Navbar
      nav.main-nav.navbar-fixed-top.headroom.headroom--pinned
        .container
          // Brand and toggle
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              |                             
              span.icon-bar
              |                             
              span.icon-bar
              |                             
              span.icon-bar
            |                         
            a(href='#')
              img.brand-img.img-responsive(src='images/torus.png')
              // <img src="images/brand/pgblocks-logo-white-nostrap.png" class="brand-img img-responsive">
          // Navigation
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.active.nav-item
                a(href='#') Home
              |                             
              li.nav-item
                a(href='#') Features
              |                             
              li.nav-item
                a(href='#') Pricing
              |                             
              li.nav-item.dropdown
                a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false', href='#')
                  | Pages 
                  i.fa.fa-angle-down
                |                                 
                ul.dropdown-menu
                  li
                    a(href='#') Dropdown 1
                  |                                     
                  li
                    a(href='#') Dropdown 2
                  |                                     
                  li
                    a(href='#') Dropdown 3
                  |                                     
                  li
                    a(href='#') Dropdown 4
              // //dropdown
              li.nav-item
                a(href='#') Contact
            // //nav
          // // End Navigation
        // // End Container
      // // End Navbar
    |         
    section#promo-3.content-block.promo-3.min-height-600px.bg-deepocean.bg-image-cover(style="background-image:url('images/pokhara.jpg');")
      .container.text-center
        h1 Simple User Authentication App
        |                 
        h2 Avishkar Pratap KC
        |                 
        a.btn.btn-outline.btn-outline-xl.outline-light(href='#')
          | In&nbsp;
          span.fa.fa-heart.pomegranate
          | &nbsp;with NODEJS
      // /.container
    |         
    section#content-1-1.content-block.content-1-1.min-height-600px.bg-white(style="background-image:url('images/ghost.jpg');")
      .container.text-center
        h1 Freedom to express your creativity
        |                 
        .col-sm-8.col-sm-offset-2
          p.lead
            | We don&apos;t want to overload you with hundreds of styles you don&apos;t want, or need. We give you a strong base to express your own creativity.
    |         
    section#content-2-9.content-2-9
      .project-wrapper
        .col-md-3.col-sm-6.project
          .background-image-holder
            img.background-image(alt='Background Image', src='images/project-1.jpg')
          |                     
          .hover-state
            .align-vertical
              h3 Work Project 1
              |                             
              p Mustache retro chillwave YOLO four loko photo booth.
              |                             
              a.btn.btn-outline.outline-light(href='#') See Project
        |                 
        .col-md-3.col-sm-6.project
          .background-image-holder
            img.background-image(alt='Background Image', src='images/apkcko.png')
          |                     
          .hover-state(style="background-image:url('images/apkcko.png');")
            .align-vertical
              h3 Avishkar Pratap KC
              |                             
              p Trying to learn NodeJs
              |                             
              a.btn.btn-outline.outline-light(href='#') See Project
        |                 
        .col-md-3.col-sm-6.project
          .background-image-holder
            img.background-image(alt='Background Image', src='images/anon.jpg')
          |                     
          .hover-state(style="background-image:url('images/anon.jpg');")
            .align-vertical
              h3 Work Project 3
              |                             
              p Mustache retro chillwave YOLO four loko photo booth.
              |                             
              a.btn.btn-outline.outline-light(href='#') See Project
        |                 
        .col-md-3.col-sm-6.project
          .background-image-holder
            img.background-image(alt='Background Image', src='images/project-4.jpg')
          |                     
          .hover-state
            .align-vertical
              h3 Work Project 4
              |                             
              p Mustache retro chillwave YOLO four loko photo booth.
              |                             
              a.btn.btn-outline.outline-light(href='#') See Project
      // /.project-wrapper
    |         
    section.content-block-nopad.bg-deepocean.footer-wrap-1-3
      .container.footer-1-3
        .map.min-height-500px
        |                 
        .col-md-4.pull-left
          img.brand-img.img-responsive(src='images/brand/pgblocks-logo-white.png')
          |                     
          ul.social.social-light
            li
              a(href='https://www.facebook.com/Aa.P.KC')
                i.fa.fa-2x.fa-facebook
            |                         
            li
              a(href='#')
                i.fa.fa-2x.fa-twitter
            |                         
            li
              a(href='#')
                i.fa.fa-2x.fa-google-plus
            |                         
            li
              a(href='#')
                i.fa.fa-2x.fa-pinterest
            |                         
            li
              a(href='#')
            |                         
            li
              a(href='#')
          // /.social
        |                 
        .col-md-3.pull-right
          p.address-bold-line
            | We 
            i.fa.fa-heart.pomegranate
            |  our amazing customers
          |                     
          p.address.small
            | Lekhnath-3
            br
            |           Kaski,
            br
            |           POKHARA
        |                 
        .col-xs-12.footer-text
          p Torus &copy; 2017
      // /.container
    |         
    script(type='text/javascript', src='javascripts/js/jquery-1.11.1.min.js')
    |         
    script(type='text/javascript', src='javascripts/js/bootstrap.min.js')
    |         
    script(type='text/javascript', src='javascripts/js/plugins.js')
    |         
    script(src='https://maps.google.com/maps/api/js?sensor=true')
    |         
    script(type='text/javascript', src='javascripts/js/bskit-scripts.js')
